<div class="back-button-container">
  <%= link_to :back do %>
    <%= image_tag "Back.png" %>
  <% end %></div>
<div class="flat-card-container">
<div class="new-flat-form">

  <h2>New flat</h2>

  <%= simple_form_for @flat, url: flats_path, method: :post do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :price, label: "Price per night (in €)" %>
    <%= f.input :description %>
    <%= f.input :poster_url %>

    <%= f.submit "Create Flat", class: "app-button" %>
  <% end %>

</div>
