<div class="back-button-container">
  <%= link_to :back do %>
    <%= image_tag "Back.png" %>
  <% end %></div>
<div class="flat-card-container">
<div class="container my-4">
  <h3 class="text-center my-4"><% if @user.name.nil? %>Here <% else %><%= @user.name %>, here<% end %> are all your flats: </h3>

<div>
 <% @flats.each do |flat| %>
    <div class="card-product m-2 position-relative mx-auto"  style="max-width:700px;">
      <div class="cancel-button-top">
        <%= link_to ("<i class='fa-solid fa-xmark fa-xl' style='color: #8a0000;'></i>").html_safe, flat_path(flat),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
      <img src="<%= flat.poster_url %>" />
      <div class="card-product-infos flex-grow-1">
    <p><%= link_to "See your flat", flat_path(flat.id), class: "nav-link" %></p>
        <h2><%= flat.name %></h2>
        <p><%= flat.description %></p>
      </div>
    </div>
  <% end %>
</div>
</div>
