<div class="flat-card-container">
  <div class="flat">
    <div>
      <img
        src="<%= @flat.poster_url %>"
        class="flat-img-left"
        alt="Photo of <%= @flat.name %>"
      />
    </div>
    <div class="flat-body">
      <div>
        <br>
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
        <h3>€ <%= @flat.price %></h3>
        <p>/ night </p>
        <p>
          <%= @flat.description %>
        </p>
        <br>
      </div>
      <div>
        <a class="app-button" href="#book_module">
          📅 Choose a date
        </a>
      </div>
      <br>
      <div>
        <a class="app-button-secondary" href="#">
          🩶 Add to wishlist
        </a>
      </div>
    </div>
    <div class="new-flat-form">
      <h4  id="book_module">Select a date and book</h4>
      <%= simple_form_for [@flat, @booking] do |f| %>
        <%= f.input :start_date, as: :date %>
        <%= f.input :end_date, as: :date %>
        <%= f.submit "Book now", class: "app-button" %>
      <% end %>
    </div>
    </div>
</div>
<div class="py-5"></div>
