<% flat = Flat.find(booking.flat_id)%>

<div class="flat-card mb-3">
  <%= image_tag(flat.poster_url, alt: "Flat image", class: "card-img-top") unless flat.poster_url.blank? %>
  <%= image_tag("https://th.bing.com/th/id/OIG4.tPvwVrEHahLe6Kjf4I0p?w=1024&h=1024&rs=1&pid=ImgDetMain", alt: "Default flat image", class: "card-img-top") if flat.poster_url.blank? %>
  <div class="card-body">
    <h5 class="card-title"><%= flat.name %></h5>
    <p class="card-text mb-1">Status : <%= booking.status %></p>
    <p class="card-text mb-1"><b>Check-in : <%= booking.start_date.strftime('%a, %e of %B %Y') %><br>Check-out : <%= booking.end_date.strftime('%a, %e of %B %Y') %></b></p>
    <p class="description"><%= flat.description %></p>
    <%= link_to "See the flat", flat_path(flat) %>
  </div>
</div>
