<div class="back-button-container">
  <%= link_to :back do %>
    <%= image_tag "Back.png" %>
  <% end %></div>
<div class="flat-card-container">
<div class="container my-5 mx-auto pb-5">
<h1 class="text-center my-4">Welcome <%= @user.name unless @user.name.nil? %></h1>
<div class="my-5">
  <h2>Here are the bookings for your next trips:</h2>
  <% if @bookings.empty? %>
    <div class="bookings-block p-4 bg-light my-3">
      <h5 class="text-center mt-3 text-warning">You have nothing booked for your trips yet</h5>
    </div>
  <% else %>
    <div class="home-card-container justify-content-evenly">
      <%  @bookings.each do |booking| %>
        <div class="col-md-4 col-lg-3 mb-3">
          <%= render "user_booking", booking: booking %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="my-5">
  <% unless @my_flats.empty? %>
  <h2>Your flats are requested for these dates:</h2>
  <div class="mt-4">
    <% @my_flats.each do |my_flat| %>
      <%= render "owner_flats", my_flat: my_flat %>
    <% end %>
  </div>
<% end %>
</div>

</div>
