<div class="mb-3 flat-card">
  <%= link_to flat_path(flat), class: "card-link" do %>
    <%= image_tag(flat.poster_url, alt: "Flat image", class: "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text mb-1"><%= flat.address %></p>
      <p class="description"><%= "#{flat.description}" %></p>
      <span class="price"><b>€<%= flat.price %></b>/night</span>
    </div>
  <% end %>
</div>
