<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "/shared/custom_navbar" %>
    <p class="alert"><%= alert %></p>
    <%= render "shared/flashes" %>
    <%= render partial: "/shared/footer" %>
    <%= yield %>
    <div class="my-5">&nbsp;</div>
  </body>
</html>
